<!DOCTYPE html>
<%= content_for :meta do %>
  <%= raw %(<meta name="msvalidate.01" content="C4921EADBBF35C2BD8F4BE9E9F78C4F6" />) -%>
  <%= raw %(<meta name="p:domain_verify" content="dd60259abb01729eb3a4a9d5bb56910b"/>) -%>
  <%= raw %(<meta name="robots" content="noodp">) -%> 
<% end %>
<%= content_for :head do %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300,300italic,700italic' rel='stylesheet' type='text/css'>
<% end %>
<%= render 'html_tag' %>
<%= render 'head' %>
<body id='<%= @body_id %>'>
  <div id="wrapper-wide-body">
  <%= render 'top_header' %>
	<%= render 'header' %>
	<% if content_for?(:page_content) %>
    <%= yield :page_content %>
  <% else %> 
  <div class="main">
    <%= render 'layouts/messages' %> 
    <%= yield %>
  </div>
  <aside id='sidebar' class='right'>
    <div id='sidebar-header'><%= yield :left_sidebar %></div>
    <div id='sidebar-content'><%= yield :sidebar %></div>
  </aside>
  <% end %>  
  <%= render 'footer' %>
  </div>
  <%= render 'layouts/modals' %> 
  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
<%= render 'javascripts' %>
	<script type="text/javascript" data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>

</body>
</html>