<% 
airports = ['St Maarten', 'San Juan', 'Pointe à Pitre', 'Antigua']
airlines = ['Air France', 'American Airlines', 'Varigs']
%>

<%= render 'modals' %>

<p class="lead">Dear, <%= %><br>We look forward to welcoming you to Hotel Le Toiny and making your stay on St. Barths the most enjoyable and relaxing as possible . In an effort to better look after you during your visit, we're offering you two ways to help you plan your stay ahead of time, and to connect with the hotel while you're here.</p>
<h1>Planning your stay</h1>
<p>Privacy and exclusivity have always been the defining characteristics of l'Hôtel Le Toiny. Situated in the area of the island referred to as Côte Sauvage, the 15 pastel-colored bungalows, called Villa Suites, are set on a gentle slope overlooking the bay of Toiny and the Caribbean Sea. Each is surrounded by tropical vegetation, has its own gated entrance and a red mailbox flag that serves as a "Do Not Disturb" sign. It is this emphasis on privacy that has always seduced our Guests who are looking for a unique and privileged place.</p>

<!-- ABOUT
================================================== -->
<div id="form-about" data-spy="affix" data-offset-top="200">
	<h2>Guest Information - Arrival/Departure</h2>
	<div class="row-fluid">
		<fieldset class="span6">
			<legend>About You</legend>
		    <%= f.input :address %>
			<%= f.input :address2 %>
			<%= f.input :city %>
			<%#= f.input :country %>
			<%#= f.input :state %>
			<%= f.input :zip %>
			<%= f.input :phone %>
		</fieldset>
		<fieldset class="span6">
			<legend>Number of Guests</legend>
			<%= f.input :guest_count, :input_html => {:maxlength => 2, :min => 1, :max => 99} %>
			<%= f.input :child_count, :input_html => {:maxlength => 2, :min => 1, :max => 99} %>
		</fieldset>
	</div>
	<div class="row-fluid">
		<fieldset class="span6">
		<legend>Arrival Flight</legend>
			<%= f.input :checkin, :input_html => {:class => 'date'}, :as => :string %>
			<%= f.input :arrival_airline, :collection => airlines %>
			<%= f.input :arrival_flight %>
			<%= f.input :arrival_airport, :collection => airports %>
			<%= f.input :arrival_time, :input_html => {:class => 'datetime'}, :as => :string %>
		</fieldset>
		<fieldset class="span6">
			<legend>Departure Flight</legend>
			<%= f.input :checkout, :input_html => {:class => 'date'}, :as => :string %>
			<%= f.input :departure_airline, :collection => airlines %>
			<%= f.input :departure_flight %>
			<%= f.input :departure_airport, :collection => airports %>
			<%= f.input :departure_time, :input_html => {:class => 'datetime'}, :as => :string %>
		</fieldset>
	</div>
	<hr>
	<fieldset>
		<%= f.input :about_comments, :input_html => {:rows => 4} %>
	</fieldset>
</div><!-- form-about -->

<hr class="big">
<!-- GETTING THERE
================================================== -->
<div id="form-getting-there" data-spy="affix" data-offset-top="200">
	<h2>Getting to the Hotel (Transportation Options)</h2>
	<p class="lead">You can reach St. Barths either by flying or by boat.<br>The following tabs will provide you with general information on both of these options.<br>In order to facilitate your travels, we will be happy to take care of reserving your inter-island transportation with any VIP Service.</p>
	<p><small><em>Once you arrive at the St. Barths airport, Gustave III (SBH), you will pass through Customs. Our Driver holding a hotel sign will welcome you off the arrival hall and drive you to the hotel.<br>
	Please note that the St Barths airport closes at sunset.</em></small></p>
	<p><small>
	<strong id="visa-informations">Visa information</strong><br>
	Nationals from the USA, the EU and Brazil are exempt from a Visa.<br>A valid passport is requested for all nationalities transiting via the island of St Maarten/St Martin.<br>For certain nationalities it is mandatory to obtain either a “Visa Saint-Barthelemy”, or a “Visa long stay D or D+C” issued by a Schengen country or a related one.<br>Passengers transiting via Guadeloupe or Saint-Martin (French side only) must show both the mention “Collectivite de Saint-Barthelemy” and the mention “Saint-Martin” or “Guadeloupe”  (does not concern St Maarten Dutch Side)<br>Please be aware that a Schengen Visa (Visa C) is not accepted to enter the French overseas departments.<br><em>The hotel can not be hold responsible if guests are travelling without the obligatory and necessary Visa.</em>
	</small></p>
	<ul class="nav nav-tabs" id="myTab">
	  <li class="active"><a href="#by_plane" data-toggle="tab">By plane</a></li>
	  <li><a href="#by_boat" data-toggle="tab">By boat</a></li>
	</ul>

	<div class="tab-content">
	  <div class="tab-pane active" id="by_plane">
	  	<p>Five Caribbean International airports offer commercial or private flights to the island of St Barths. The most popular one is St Maarten Princess Juliana ‘s airport (SXM). But you can also connect through San Juan / Porto Rico (SJU), C.E. King / St Thomas (STT), Pointe à Pitre / Guadeloupe (PTP), V.C. Bird / Antigua (ANU).</p>

		<h4>St MAARTEN – ANGUILLA – ST THOMAS – ANTIGUA</h4>

		<p><address>
			<strong>WINDWARD AIRWAYS named WINAIR <em>(regular flights and private charters)</em></strong><br> 
			<strong>Tel:</strong> + 590 590 27 61 01 / <strong>Fax:</strong> +590 29 15 49<br>
			<strong>Email:</strong> winair.sbh@wanadoo.fr<br>
			<strong>Web site:</strong> <a href="http://www.fly-winair.com" target="_blank">www.fly-winair.com</a>
		</address></p>

		<p><address>
			<strong>ST BARTH COMMUTER <em>(regular flights and private charters)</em></strong><br>
			<strong>Tel:</strong> + 590 590 27 54 54 / <strong>Fax:</strong> +590 27 54 58<br>
			<strong>Email:</strong> info@stbarthcommuter.com<br>
			<strong>Web site:</strong> <a href="http://www.stbarthcommuter.com" target="_blank">www.stbarthcommuter.com</a>
		</address></p>
		
		<p><small><em>Please note that a 2-hour minimum connecting time is required in St Maarten airport between your flights.</em></small></p>
		
		<div class="well">
			<h5>A Tip for travelers transiting at the St Maarten’s airport (Sxm)</h5>
			<p>When you arrive in St Maarten, you will need to go through St. Maarten Customs. Please have a valid passport available, along with the Customs Form distributed on your flight. Also do note that some nationalities required a Visa to enter St Maarten and/or St. Barths, please <a href="#visa-informations">see below 'Visa Informations' for details</a>. Immigration will give you a slip that you will need to retain until you depart. </p>
			<hr>
			<h5>Vip service</h5>
			<p >If you request a personal escort to assist you and accompany throughout your transit process and make it faster & smoother, a “VIP SERVICE” representative will meet you before Immigrations at the Transfer Information Desk. <br>This service must be arranged in advance with us (cost approx. 175 €/2 pers./way), please tick the box to reserve :</p>
			<%= f.input :sxm_personal_escort, :as => :boolean %> 
			<hr>
			<h5>Information on prices</h5>
			<ul class="unstyled">
				<li>Commercial flights SXM/SBH : start at 180 EUR/person one way</li> 
				<li>Private flights SXM/SBH: start at 700 EUR /up to 7 pers. one way</li>
			</ul>
		</div>
		
			
		<h4>SAN JUAN - ST THOMAS – ANTIGUA</h4>

		<p><address>
			<strong>TRADEWIND AVIATION <em>(Shuttle daily and private charters between St Barths, San Juan and St. Thomas)</em></strong><br> 
			<strong>Tel:</strong> + 203 267 3305 / <strong>Within the USA:</strong> 800 376 7922<br>
			<strong>Web site:</strong> <a href="http://www.tradewindaviation.com" target="_blank">www.tradewindaviation.com</a> or for St Barths <a href="www.tradewindaviation.com/stBarth.html" target="_blank">www.tradewindaviation.com/stBarth.html</a>
		</address></p>

		<h4>POINTE A PITRE</h4>

		<p><address>
			<strong>AIR CARAIBES <em>(Only between Guadeloupe and St Barths)</em></strong><br>
			<strong>Tel:</strong> + 590 590 29 76 61 / <strong>Fax:</strong> +590 27 95 63<br>
			<strong>Email:</strong> reservations@aircaraibes.com<br>
			<strong>Web site:</strong> <a href="http://www.aircaraibes.com" target="_blank">www.aircaraibes.com</a>
		</address></p>
		<p><address>
			<strong>AIR ANTILLES EXPRESS <em>(Only between Guadeloupe and St Barths)</em></strong><br>
			<strong>Local contacts:</strong> Tel: + 590 590 27 71 90 / Fax: +590 27 67 03<br>
			<strong>Central reservation:</strong> Tel: 0890 648 648 - in St Maarten: + 590 590 87 35 03<br>
			<strong>Email:</strong> ca12006@orange.fr<br>
			<strong>Web site:</strong> <a href="http://www.airantilles.com" target="_blank">www.airantilles.com</a>
		<address></p>


	  </div>
	  <div class="tab-pane" id="by_boat">
		<p>From a few islands (St Maarten & Anguilla principally) you can travel to St. Barths by boat. Several companies provide either commercial ferry services or private transportation by motorboats. </p>
		<h4>PRIVATE BOATS</h4>
		<p>Please contact us. Riviera Off Shore 41’, sunseeker 47’, Sunseeker 50’ etc. are available </p>
		<h4>FERRY SERVICES</h4>
		<p>
			<address>
				<strong>VOYAGER</strong><br>
				<strong>Tel:</strong> + 590 590 87 10 68 <strong>Fax:</strong> + 590 590 29 34 79<br>
				<strong>Email:</strong> voyager.sxm@wanadoo.fr<br>
				<strong>Web site:</strong> <a href="http://www.voy12.com" target="_blank">www.voy12.com</a>
			</address>
		</p>
		<p>
			<address>
				<strong>GREAT BAY EXPRESS</strong><br>
				<strong>Tel:</strong> <strong>US number</strong> 917 652 7346 + 590 590 524 506 <strong>Fax:</strong> + 590 590 524 138<br>
				<strong>Email:</strong> sbh.ferry@orange.fr<br>
				<strong>Web site:</strong> <a href="http://www.greatbayexpress.com" target="_blank">www.greatbayexpress.com</a> or <a href="http://www.sbhferry.com" target="_blank">www.sbhferry.com</a>
			</address>
		</p>
	  </div><!-- by_boat -->
	</div><!-- transport -->

	<legend>Transfer Options to StBarth</legend>
	<p>Please select one of the options to transfer to/from St. Maarten airport.</p>

	<%= f.input :transfer_option, :collection => ['Private Boat', 'Shared Sea Shuttle', 'Public Ferry', 'Private Air Charters', 'Shared Air Charters'], :as => :radio_buttons %>

</div><!-- Getting there -->
			
<hr class="big">			
<!-- VILLA PREFERENCES
================================================== -->
<div id="form-suite-preferences" data-spy="affix" data-offset-top="200">
	<h2>Suite Preferences</h2>
	<fieldset>
		Allergies : 
		Baby under 3yo amenities (crib, high chair, baby bath etc.): ___
		Child under 12yo amenities (additional bed):	___
		Additional bed for person aged over 12yo: 100 EUR/nt on B&B___
	</fieldset>
</div><!-- villa preferences -->

<hr class="big">
<!-- WELCOME PREFERENCES
================================================== -->
<div id="form-suite-preferences" data-spy="affix" data-offset-top="200">
	<h2>Special welcomes Preferences</h2>
	<fieldset>
		<%= f.input :welcome_champagne_moet_chanfon %>
		<%= f.input :welcome_champagne_perrier_rose %>
		<%= f.input :welcome_european_bouquet %>
		<%= f.input :welcome_european_bouquet_price, :collection => ['50', '70', '90', '110', '150'], :as => :select, :label => "Price per Bouquet (in Euros)" %>
		<%= f.input :welcome_exotic_bouquet %>
		<%= f.input :welcome_exotic_bouquet_price, :collection => ['50', '70', '90', '110', '150'], :as => :select, :label => "Price per Bouquet (in Euros)" %>
		<%= f.input :welcome_colorful_fruit_plate, :label => "Colorful plate of fruits (35 EUR/2 pers)" %>
		<%= f.input :welcome_cheese_cracker_plate, :label => "Colorful plate of fruits (25 EUR/2 pers)" %>
	</fieldset>
</div><!-- welcome preferences -->

<hr class="big">
<!-- PLANNING ACTIVITIES
================================================== -->
<div id="form-activities" data-spy="affix" data-offset-top="200">
	<h2>Planning Activities</h2>
		<p class="lead">We are here to make your stay on St. Barths as enjoyable as possible - from planning your culinary adventures to arranging your activities - nothing is beyond reach. Please don't hesitate to call upon any of our colleagues for advice and assistance on making your stay memorable.</p>

		<!-- Restaurant reservations -->
		<h3>Restaurant reservations</h3>
		<p>We will be happy to take care of your restaurant reservations 10 days in advance: please note that for most of the restaurants there are 2 seating (7:00 to 7:30 pm and 9:00 to 9:30 pm).Since many restaurants close for a couple of weeks during the summer period, our reception and reservations team will be happy to assist and guide you for your lunch and dinner arrangements.<br>Please have a look at our non-exhaustive list of restaurants to help you make your choice by clicking on the following links:<ul><li><a href="#modal-dining" role="button" class="btn btn-link" data-toggle="modal">Our Selection For Dinner</a></li><li><a href="#modal-lunch" role="button" class="btn btn-link" data-toggle="modal">Our Selection For Lunch</a></li></ul><br><small>(Discover the island restaurant menus on the website <a href="http://www.alacarte.com" target="_blank">www.alacarte.com</a>)</small></p>
		<div class="well">
			<h4>Your restaurant reservations</h4>
			<p>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Restaurant name</th>
						<th>Lunch</th>
						<th>Dinner</th>
						<th>Date</th>
						<th>Guest</th>
					</tr>
				</thead>
				<tbody id="table-reservations-body">
				<%= f.simple_fields_for(:table_reservations, :html => { :id => "dining_form" }) do |dining_form| %>
			    	<% render "table_reservation_fields", :f => dining_form %>
			 	<% end -%>
				</tbody>
			</table>
			<%= link_to_add_fields(t("add_reservation"),"#table-reservations-body", f, :table_reservations, :class => "btn btn-primary btn-large btn-block" ) %>
			</p>
		</div>		
		<%= f.input :activity_comments, :input_html => {:rows => 4} %>
		<%= f.input :food_preference, :collection => ['Vegetarian', 'Gluten free', 'Vegan'], :as => :select, :label => "Food preferences" %>
		<%= f.input :food_allergies %>
				
				
		<!-- Activities -->		
		<h3>Activities</h3>
		<p>Please check the following activities that you would be interested to experience and our Reception team will gladly provide additional information and arrange your specific requests.</p>
		<div class="well">
			<div class="row-fluid">
				<div class="span4">
					<%= f.input :yoga_personal_trainer, :as => :boolean %>
					<%= f.input :pilates_personal_trainer, :as => :boolean %>
					<%= f.input :fitness_personal_trainer, :as => :boolean %>
					<%= f.input :natural_hike, :as => :boolean %>
					<%= f.input :island_tour, :as => :boolean %>
				
				</div>
				<div class="span4">
					<%= f.input :tennis, :as => :boolean %>	 
					<%= f.input :tennis_with_pro, :as => :boolean %>  
					<%= f.input :boating_half_ay_outing, :as => :boolean %>
					<%= f.input :boating_full_day_outing, :as => :boolean %>
					<%= f.input :sunset_cruise, :as => :boolean %>
				</div>
				<div class="span4">
					<%= f.input :diving, :as => :boolean %>
					<%= f.input :deep_sea_fishing, :as => :boolean %>
					<%= f.input :jet_skiing, :as => :boolean %> 
					<%= f.input :surfing, :as => :boolean %>
					<%= f.input :windsurfing, :as => :boolean %>
				</div>
			</div>
		</div>
		<!-- Spa / Wellness -->	                                  
		<h3>Spa / Wellness</h3>
		<p>Join us at the Serenity Spa Cottage, a delightful respite for pampering treatments to whisk you away to a world of Caribbean relaxation. The Spa features an exquisite local product line called Ligne St. Barth made from exotic oils and fragrances which include extracts of melon, passion fruit and mango along with freshly blended papaya and pineapple.</p>  
		<p>We also offer traditional men shaving, performed in tranquil surroundings in a colonial planters chair using the natural aromatic products by Geo. F. Trumper of London.</p> 
		<p>All treatments figuring here after can been set up as a single- or couple treatment in our Serenity Spa cottage or in the privacy of your Villa Suite.</p>  
		<p>The Spa is open from 10 am until 7pm and we recommend booking your treatments in advance by contacting our reservations department reservations@letoiny.com or our concierge team contact@letoiny.com  Tel.: + 590 590 27 88 88.</p> 
		<p>
		<a href="#modal-spa-treatments" role="button" class="btn btn-link" data-toggle="modal">Spa Treatments by Ligne St Barth</a>
		<a href="#modal-spa-packages" role="button" class="btn btn-link" data-toggle="modal">Spa Packages</a>
		<a href="#modal-spa-trumper-treatments" role="button" class="btn btn-link" data-toggle="modal">Geo. F. Trumper treatments for Gentlemen</a>
		</p> 
		
		<div class="well">
			<h4>Reservation Requests</h4>
			<p>
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>Treatment name</th>
						<th>Date</th>
						<th>Time</th>
						<th>Guest</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody id="spa-reservations-body">
				<%= f.simple_fields_for(:spa_reservations, :html => { :id => "spa_form" }) do |spa_form| %>
			    	<% render "spa_reservation_fields", :f => spa_form %>
			 	<% end -%>
				</tbody>
			</table>
			<%= link_to_add_fields(t("add_reservation"),"#spa-reservations-body", f, :spa_reservations, :class => "btn btn-primary btn-large btn-block" ) %>
			</p>

		
			<p><small><em><strong>Cancellation policy</strong><br>
			Please provide 24 hours notice if you must cancel or reschedule appointment. You will be billed 50% of the reserved services should you cancel or change your appointment with less than 24 hours notice.<br>
			Cancellation within 12 hours or failure to show for appointments will result in 100% charge for reserved services!<br>For treatment appointments of less than 1 hour there is a short service supplement of 15 Euros added.
			</em></small></p>
		</div>
		<h3>Other activities to do on the island and beaches</h3>
		<h5>Enjoy the diversity of Saint Bart’s beaches</h5>
		<p>Of course, one of the reasons why you have chosen to stay in the Caribbean and St. Barts are the beaches, with their white sands, the turquoise water and the tropical flora surroundings.<br><a href="#modal-beaches" role="button" class="btn btn-link" data-toggle="modal">Please find here after some information which will help you to choose the beach for every day!</a></p>
		<h5>Other Activities while on the Island</h5>
		<p><a href="#modal-other-activities" role="button" class="btn btn-link" data-toggle="modal">Following this link</a> you will find a list we have put together for you of “Things to do while on the island…” and we do hope it will cover some of your interests.</p>

</div><!-- activities -->


<div id="form-others">
	<fieldset>
		<legend>Rental car requirements</legend>
		<p>We will be delighted to arrange for a rental car for your use on the island, which would be delivered to the hotel prior to your arrival. All cars are automatic. Rates depend on seasons.</p>
		<div class="well">
		<%= f.input :car_requirement, :collection => ['I 10 (A/C, 4 seats)', 'Smart convertible (A/C, 2 seats)', 'Swift  Yaris, Getz (A/C, 4 seats)', 'Nissan Tiida (A/C, 4 seats)',' Wrangler (A/C, convertible, 4wd, 4 seats)','Gem Electric car (2 seats)','Vitara hard top, Terios (A/C, 4wd, 4 seats)','Grand Vitara, Bus APV (7 seats, A/C, 4wd)','Mini Cooper, BMW (convertible, A/C, 4 seats)','Rav 4, (A/C, 5 seats)','Vitara 5DRS (A/C, 4wd, 5 seats)'], :as => :select, :label => "Car requirement" %>
		</div>
	</fieldset>
	<fieldset>
		<legend>Newspaper</legend>
		<div class="well">
		<%= f.input :newspaper_requirement, :collection => ['Newspaper 1', 'Newspaper 2'], :as => :select, :label => "Newspaper requirement" %>
		</div>
	</fieldset>
	<fieldset>
		<legend>Babysitting / Nanny Services</legend>
		<p>We organize babysitter/nanny services for our little guests. If you would like a babysitter or nanny services during your stay please complete the following information below.
		Reservation Requests :
		Date(calendrier) 	Number of children : (dérouleur)   Number of hours :(dérouleur)   
		+ add row (comme exemple)
		Comments :</p>
	</fieldset>
	<fieldset>
		<legend>Pets</legend>
		<p>Educated & clean pets are our friends and welcome to the hotel. Due to local compliances, pets are not allowed in any restaurant/bar/lounge, fitness, spa or pool areas of the resort. All pets must be kept on a leash when on the resort property unless they are in your room. An animal permit must be obtained from the Department of Agriculture (small fee applies) prior to arrival. This document requires proof that your pet has received all of the necessary vaccines and must be presented to the Department of Customs after clearing Immigration upon arrival.</p>
	</fieldset>
	<fieldset>
		<legend>Please note any special request, comments or questions:</legend>
		<%= f.input :additional_service_comments, :input_html => {:rows => 4} %>
	</fieldset>
</div><!-- Others -->

<%= f.button :submit, t("send_inquiry"), :disable_with => "Saving...", :class => "btn btn-block btn-large btn-primary" %>