<!-- FOR DINNER
================================================== -->
<div id="modal-dining" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>For Dinner</h3>
  </div>
  <div class="modal-body">
	<p><strong>Le Gaïac:</strong> Ours, of course... is a fine dining restaurant serving French Cuisine with Creole accents. A romantic dining room overlooking the main pool and the Caribbean Sea awaits you. There are more than 250 references on our fabulous wine and champagne list. On Tuesdays we serve our Fish Market menu which allows you to pick a catch of the day. The restaurant is open every day for lunch & dinner. Dining room closed from July 30th to October 25th included. Breakfast, lunch and dinner available in the room or on your private terrace</p>
	<p><strong>Maya's:</strong> A Must: One of the most popular restaurants since many years and much loved by our American guests. The hosts are Maya and Randy, the owners. The cuisine is a mix of Asian and Creole with a menu that changes daily. Only open for dinner and closed on Sundays.</p>
	<p><strong>Bonito:</strong> Multicultural cuisine with French and South American flavours and a Ceviche bar. The ambiance is sophisticated, cozy and relaxed, something between a luxury Villa and “a living room where close friends hang out”, with a fantastic view over Gustavia harbour. Nice also… to enjoy a cocktail at sunset! - Only open for dinner and closed on Wednesdays during low season.</p> 
	<p><strong>L’Isola:</strong> Situated in the centre of Gustavia it serves an authentic Italian cuisine: antipasti, pasta, fresh catch of the day and meat dishes in a chic, contemporary and intimate setting. It shares the same spirit as the famous “Via Veneto” of Santa Monica. Only open for dinner and closed on Mondays.</p> 
		<p><strong>On the Rock with Jean Georges:</strong> is the restaurant of the other Relais & Châteaux property Eden Rock on the island. Have dinner “on top of the rock” in the middle of St. Jean’s bay, from where you have a great view. Enjoy in this exceptional setting the cuisine of Jean-Georges Vongerichtens’ fusion of Asian spices and flavours. Open every day for dinner.</p>
		<p><strong>Meat & Potatoes:</strong> Meat lovers will be thrilled by the new restaurant concept conceived by JC, the former chef from l’Esprit Saline and his wife Estelle at La Saline. Try some of the choicest cuts on the island, from filet of beef and Porterhouse steaks to veal chops, rack of lamb, and homemade foie gras. Vegetarians can enjoy numerous styles of potatoes as well as a multitude of grilled vegetables. Only open for dinner and closed on Sundays.</p>
		<p><strong>L'Esprit by Jean-Claude DUFOUR:</strong> Chef Jean-Claude Dufour and his wife Sonia have created a new restaurant experience in a lovely garden setting along the edge of the salt pond in Saline. Enjoy lunch under the coconut palms or dinner under the stars in a relaxed atmosphere, where sophisticated cuisine embraces flavours from around the world. Cuisine based on a variety of high-quality, fresh ingredients mixed with the best of kitchen techniques confirms the reputation of this chef from the southwest of France, who has worked in Saint Barth for the past 14 years.</p>
		<p><strong>PaCri:</strong> A magic feel of Italy in St Barth. They welcome you right on the beach at Hotel Taiwana (Flamands Beach) and take you to a fantastic voyage to the south of Italy. Open every day for dinner.</p>

		<p><strong>The Beefbar Junior:</strong> In the location of the former Strand restaurant overlooking the harbour of Gustavia, this newly opened place is the sister restaurant of a famous place in Monaco, south of France. They are specialized in meat dishes and have created their own oven to prepare the meat. Service and food are excellent, but it is very expensive.</p>
		<p><strong>La Gloriette:</strong> A simple and casual restaurant at the edge of the lagoon of Grand-Cul-de-sac offering Pizza in the evening. Only open Thursdays to Saturdays for dinner.</p>
		<p><strong>Eddy’s:</strong> Hidden in a garden in the centre of Gustavia. Eddy welcomes you in a laid-back ambiance with his French-Creole cuisine under an Indonesian roof. They do not take reservations. Only open for dinner and closed on Sunday.</p>
		<p><strong>Pipiri Palace:</strong> A warm-cosy atmosphere with some true French and Creole dishes, in an exotic garden inside an old St Barth house in the middle of Gustavia. Home made foie gras, local fish, fresh lobster; barbecue ribs (the best on the Island!).Only open for dinner and closed on Sunday.</p>
		<p><strong>Le Ti St Barth:</strong> To enjoy a dinner cut with some dancing breaks on the tables and fashion shows. It is the most trendy and crowded restaurant, especially on Saturday nights. You don't go too much for the food but more for the fun. Only open for dinner and closed on Sundays.</p>
		<p><strong>Le Restaurant des Pecheurs:</strong> Is the restaurant at Le Sereno hotel on Grand-Cul-de-Sac lagoon with a minimalist atmosphere on the beach, by French designer Christian Liagre. They do offer a fresh simply-prepared French fish-and sea food cuisine. Open every day for lunch & dinner.</p> 
		<p><strong>Wall House:</strong> A quayside “French Brasserie type” restaurant with a good and very friendly service. The extensive menu is offering traditional French Cuisine. Since 2011 they offer steakhouse specialties with prime Angus beef. Open every day for lunch & dinner</p>
		<p><strong>The Hideaway:</strong> A very casual family style restaurant. The friendly staff makes their customers feel relaxed and at home. Being English, Andy the owner has carried on a cultural tradition of serving corked wine, warm beer and lousy food. Winner in 2004 of St Barths’ best pizza, the Hideaway is an institution on the island. Closed on Sundays for lunch.</p>
		<p><strong>Le Bête a Z’ailes:</strong> Probably the best place to eat sushi on the island! The restaurant is located on the harbour of Gustavia and it offers every evening from 9pm on live music. Also a good place to enjoy before- and after dinner drinks. They do not take reservations (only for 6 people or more). Closed from June until November.</p>
  </div>
</div>

<!-- FOR DINNER
================================================== -->
<div id="modal-lunch" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>For Lunch</h3>
  </div>
  <div class="modal-body">
		<p><strong>Le Gaïac:</strong> A casual lunch menu and great sea views invite you to our restaurant for lunch time, definitely a different experience from the evening. On Sundays we welcome you to our famous Brunch, always a great “get together”. From 11:00 am onwards. Open every day. Restaurant closed from July 30th to October 25th included. Breakfast, lunch and dinner available in the room or on your private terrace</p>
		<p><strong>La Case de L’Isle (at Hotel Isle De France):</strong> Located on Flamands beach it serves French Mediterranean cuisine with entrees from the grill. Choose between eating on the deck or with your feet in the sand. Always busy so make sure you ask our reception to reserve in advance. Sun beds can be rented upon availability. Open every day.</p>
		<p><strong>Sand Bar at Eden Rock Hotel with Jean Georges:</strong> a must – Enjoy a day on the beach and lunch at the Sand Bar. Sun beds can be rented upon availability. Open every day.</p>
		<p><strong>Le Taiwana:</strong> Next to Isle de France on Flamands beach you can enjoy their selection of salads (they are famous for their lentils salad) and grilled fish and meat. Open every day for lunch. 
		<p><strong>Nikki Beach:</strong> For a laid back lunch on the beach with the DJ in the background... It's rather "a scene". It can be very noisy. Sun beds can be rented upon availability. Closed on Mondays and Tuesdays.</p> 
		<p><strong>Mango:</strong> Is the bar and restaurant of the “Hotel Christopher”, located right on the water, next to the pool area. On a shaded terrace you can enjoy the scenic view of Lorient and St Jean bays. On the menu: Fresh salads, fish or grilled meat, burgers and Club sandwiches.  Open everyday for lunch.</p>
		<p><strong>Le Restaurant des Pecheurs:</strong> Please see our comment under the dinner section!
		<p><strong>La Gloriette:</strong> Feet in the sand at the edge of the lagoon of Grand-cul-de-sac, La Gloriette invites you to discover its daily changing suggestions of local fish, salads, grills, lobster and homemade dessert. You can relax in the shade of a palm tree, or in a deckchair with a cocktail. Lounge chairs are available on the beach between 12:00 and 3:00 pm. Closed on Wednesdays</p>
		<p><strong>La Langouste:</strong> A good place to eat fresh Caribbean lobster; (6€ per 100gr - great value) with a nice St Barts ambiance and a casual-friendly service. Take the few steps to Flamands beach for a digesting walk or a quick dip in the water. Open for lunch and dinner, closed on Tuesdays.</p>
		<p><strong>Do Brazil:</strong> Up on Shell Beach, beautiful view on the water, fusion food with musical fun ambiance. You can choose between the upstairs restaurant or Do Brazil Snack on the beach. They also offer lounge chairs on the beach. Open every day for lunch.</p>
		<p><strong>Le Grain de Sel:</strong> A casual place next to Saline Beach. It is one of the best places to discover Creole food. They do also offer traditional French dishes, salads and burgers. If you are lucky you will see one of the enormous Iguanas! Closed on Mondays.</p>
		<p><strong>La Plage at Tom Beach Hotel:</strong> is situated next to the airstrip. It is a funky place on the beach to have breakfast, lunch or dinner, otherwise simply enjoy a cocktail and a sunbath. The menu varies from salads, Panini, grilled fish and meat to wok dishes. Open every day.</p>
		<p><strong>Indigo:</strong> Is the beach restaurant of “Small Leading Hotels of the World” GUANAHANI. It overlooks the pool and it offers a large selection of salads, seafood specialities as well as grilled fish and meat. Open every day for lunch and dinner.</p> 
		<p><strong>Le Santa Fe:</strong>  Casual restaurant with a nice view on the Bay of Gouverneur. Enjoy a light lunch before or after your beach time. Open every day except Wednesdays!</p>
  </div>
</div>

<!-- SPA TREATMENTS
================================================== -->
<div id="modal-spa-treatments" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>For Lunch</h3>
  </div>
  <div class="modal-body">
	<%= render 'spa_treatments' %>
  </div>
</div>

<!-- SPA PACKAGE
================================================== -->
<div id="modal-spa-packages" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>For Lunch</h3>
  </div>
  <div class="modal-body">
	<%= render 'spa_packages' %>
  </div>
</div>

<!-- SPA PACKAGE
================================================== -->
<div id="modal-spa-trumper-treatments" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>For Lunch</h3>
  </div>
  <div class="modal-body">
	<%= render 'spa_trumper_treatments' %>
  </div>
</div>

<!-- SPA PACKAGE
================================================== -->
<div id="modal-beaches" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>For Lunch</h3>
  </div>
  <div class="modal-body">
	<%= render 'beaches' %>
  </div>
</div>

<!-- SPA PACKAGE
================================================== -->
<div id="modal-other-activities" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>For Lunch</h3>
  </div>
  <div class="modal-body">
	<%= render 'activities' %>
  </div>
</div>