<div id="res-info">
	<h4>Welcome <%= @hotel_reservation.name %></h4>
	<h5>Confirmation Number: <small><%= @hotel_reservation.reference %></small></h5>
	<h5>Arrival Date: <small><%= @hotel_reservation.checkin %></small></h5>
	<h5>Departure Date: <small><%= @hotel_reservation.checkin %></small></h5>
	<h5>Number of Guests: <small><%= @hotel_reservation.guest_count %></small></h5>
	<hr>
	<ul class="nav nav-stacked affix-bottom" data-spy="affix" >
		<li><a href="#about">Guest information <i class="icon-chevron-right"></i></a></li>
		<li><a href="#getting-there">Getting to the hotel <i class="icon-chevron-right"></i></a></li>
		<li><a href="#suite-preferences">Suite preferences <i class="icon-chevron-right"></i></a></li>
		<li><a href="#welcome-preferences">Welcome preferences <i class="icon-chevron-right"></i></a></li>
		<li><a href="#table_booking">Table booking <i class="icon-chevron-right"></i></a></li>
		<li><a href="#spa_booking">Spa booking <i class="icon-chevron-right"></i></a></li>
		<li><a href="#activities">Activities <i class="icon-chevron-right"></i></a></li>
		<li><a href="#additional-services">Additional services <i class="icon-chevron-right"></i></a></li>
		
	</ul>
</div>