<div id="res-info">
	<h4>Welcome <%= @hotel_reservation.name %></h4>
	<h5>Confirmation Number: <small><%= @hotel_reservation.reference %></small></h5>
	<h5>Arrival Date: <small><%= @hotel_reservation.checkin %></small></h5>
	<h5>Departure Date: <small><%= @hotel_reservation.checkin %></small></h5>
	<h5>Number of Guests: <small><%= @hotel_reservation.guest_count %></small></h5>
	<hr>
	<ul class="nav nav-stacked affix">
		<li><a href="#form-about">Guest information <i class="icon-chevron-right"></i></a></li>
		<li><a href="#form-getting-there">Getting to the hotel <i class="icon-chevron-right"></i></a></li>
		<li><a href="#form-suite-preferences">Room/Villa preferences <i class="icon-chevron-right"></i></a></li>
		<li><a href="#welcome-preferences">Welcome preferences <i class="icon-chevron-right"></i></a></li>
		<li><a href="#form-activities">Activities <i class="icon-chevron-right"></i></a></li>
	</ul>
</div>