<tr>
	<td><%= f.input :restaurant_name, :label => false, :placeholder => "restaurant name" %></td>
	<td><%= f.input :lunch, :label => false %></td>
	<td><%= f.input :dinner, :label => false, :as => :boolean %></td>
	<td><%= f.input :book_date, :input_html => {:class => 'date'}, :as => :string, :label => false %></td>
	<td><%= f.input :guests, :label => false, :input_html => {:maxlength => 2, :min => 1, :max => 99} %></td>
</tr>