<tr>
	<td><%= f.input :restaurant_name, :label => false, :placeholder => "restaurant name" %></td>
	<td><%= f.input :lunch, :label => false %></td>
	<td><%= f.input :dinner, :label => false, :as => :boolean %></td>
	<td><%= f.input :book_date, :input_html => {:class => 'datetime'}, :as => :string, :label => false %></td>
	<td><%= f.input :guests, :label => false %></td>
</tr>