<tr>
	<td><%= f.input :restaurant_name, :label => false, :placeholder => "restaurant name" %></td>
	<td><%= f.input :lunch, :collection => [['Lunch', true] ,['Dinner', false]], :as => :radio_buttons, :label => false, :item_wrapper_class => 'inline' %></td>
	<td>
	 <%= f.input :book_date, :wrapper => :append, :hint => false, :label => false do %>
	    <%= f.text_field :book_date, :class => 'date', :maxLength => 10 %>
	    <%= content_tag :span, :class => "add-on" do %>
	      <i class="icon-calendar"></i>
	    <% end %>
	  <% end %>
    </td>
	<td><%= f.input :guests, :label => false, :input_html => {:maxlength => 2, :min => 1, :max => 99} %></td>
	<td><i class="icon-remove"></i></td>
</tr>

