<%= render_page_title(resource.title) %>
<% if resource.images.any? %>

<div id="carousel" class="flexslider carousel" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="li.gallery-item">
  <ul class="slides">
	<% resource.images.each do |img| %>
		<%= content_tag(:li, :class => "gallery-item", :rel => "gallery", :data => {:href => "#{img.thumbnail(:large).url}"}) do %>
			<%= image_fu(img, "210x140#") %>
		<% end %>
	<% end %>
  </ul>

</div>
<div class="pull-right">
<a href="#" id="start-slideshow" data-toggle="modal-gallery" data-target="#modal-gallery" data-selector="li.gallery-item"><%= t(:click_to_enlarge )%><i class="icon-resize-full"></i></a>
</div>
<% end %>

<%= render_html_text(resource.body) %>
