<!DOCTYPE html>
<%= render 'html_tag' %>
<%= render 'head' %>
<body id='<%= @body_id %>'>
<!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  <div id="wrapper-wide-body">
	<%= render 'header' %>
	<% if content_for?(:page_content) %>
      <%= yield :page_content %>
    <% else %>  
      <div id='content-container' class='container-fluid'>
        <!--<div class='wrapper-content'>-->
          <div id="content" class='row-fluid'>
            <div id='main-column' class='content-sidebar'>
              <div class="main-content-inner">
                <%= render 'layouts/messages' %> 
                <%= yield %>
              </div>
            </div>
            <aside id='sidebar' class='right'>
              <div id='sidebar-header'><%= yield :left_sidebar %></div>
              <div id='sidebar-content'><%= yield :sidebar %></div>
            </aside>
        </div>
      </div>
      <% end %>  
      <%= link_to(image_tag("logo_relais_chateaux_white.png"), "http://www.relaischateaux.com/fr/search-book/hotel-restaurant/toiny/", :id => "logo_relais_chateaux", :target => "_blank", :class => 'visible-desktop', :title => t("r_and_c").html_safe, :rel => "tooltip", :data => { :placement => 'bottom', :html => "true"}) %>
	  <%= link_to(image_tag("gold_cntraveller_2013.png"), "http://www.cntraveler.com/hotels/caribbean/french-west-indies/h-tel-le-toiny-st-barts-st-barts-st-barts", :id => "logo_gold_cntraveller_2013", :target => "_blank", :class => 'visible-desktop') %>

      <%= render 'footer' %>
  </div>
  <%= render 'layouts/modals' %> 
  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
	<%= javascript_include_tag "public" %>
	<%= yield :after_javascript_libraries %>
	<% cache [I18n.locale, site, site.home] do %>
		<% if site.home.images.order(:position).any? && !is_mobile_device? %>
		<script type="text/javascript">
		
			jQuery(function($){
			
				$.supersized({
					slide_interval : 3000, // Length between transitions
					transition : 3, // 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
					transition_speed : 800, // Speed of transition
					slides : [<%= raw site.home.images.order(:position).map{|c| "{image: '#{c.url}'}" }.join(",").to_s %>]
				});
		    });
	    
		</script>
		<% end %>
	<% end %>
	<%= render 'google_analytics' %>
<body>
</html>